h1{
  text-align: center; 
  font-family: Garamond;
  font-size: 48px;
  color: #750005;
}
h2{
  text-align: center; 
  font-family: Garamond;
  font-size: 36px;
  color: #750005;
}
h3{ 
  font-family: Garamond;
  font-size: 36px;
  color: #750005;
}
@font-face {  
  font-family: Garamond-italic; 
  src: url( 'Garamond-italic.otf');
  font-weight: 300;
  font-style: italic; );
}
@font-face {  
  font-family: Garamond;
  font-weight: 300;  
  src: url( 'Garamond.otf' );  
}
#text-select{
  position:relative;
  left: 40px;
  width: 17.5%;
  top: 20px;
}
#search{
  position:relative;
  left: 40px;
}
#yearTag0{
  font: 25px sans-serif;
  text-align: left;
  left: 45px;
  position: absolute;
  top: 150px;
  z-index: 100;
}
 #yearTag1{
  font: 25px sans-serif;
  text-align: left;
  left: 380px;
  position: absolute;
  top: 150px;
  z-index: 100;
}
 #yearTag2{
  font: 25px sans-serif;
  text-align: left;
  left: 750px;
  position: absolute;
  top: 150px;
  z-index: 100;
}
.legend{
  overflow: auto;
  height: 450px;  
  width: 212px;
  position: relative;
  top: -480px;
  left: 40px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #dddddd;
}
.legend rect {
  display: hidden;
  fill: white;
  /*stroke:black;*/
  opacity:0.8;
}
.legend-items text {
  fill: #555;
}

.info {
  text-align: left;
  left: 50px;
}

#dissertation {
  /*top: 650px;*/
  width: 95%;
}

.info{
  position: relative;
  top: -450px;
}

.bubble{
  width: 100%;
}

/*#selection {
  top: 620px;
}*/