.container {
  width: 100%;
}

h1,h2,h3,h4,h5,h6{
  text-align: center;
  font-family: Garamond;
  color: #750005;
  margin-top: 15px;
  /*font-size: 36px;*/
}
@font-face {
  font-family: Garamond-italic;
  src: url( 'Garamond-italic.otf');
  font-weight: 300;
  font-style: italic; );
}
@font-face {
  font-family: Garamond;
  font-weight: 300;
  src: url( 'Garamond.otf' );
}
#text-select{
  position:relative;
}
#yearTag0, #yearTag1, #yearTag2{
  font: 25px sans-serif;
  text-align: center;
  z-index: 100;
}

.advisor-legend {
  overflow: auto;
  height: 450px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #dddddd;
}

.legend rect {
  opacity: 0;
}
.legend-items text {
  fill: #555;
}

.info {
  text-align: left;
  left: 50px;
  position: relative;
  top: -450px;
}

.bubble{
  width: 100%;
}

.col-xs-3{
  padding-right: 0px;
  padding-left: 0px;
}