.container {
  width: 100%;
}

h1,h2,h3,h4,h5,h6{
  text-align: center;
  font-family: Garamond;
  color: #750005;
  margin-top: 10px;
  margin-bottom: 10px;
}
h2{
  margin-bottom: 0px;
}
h4{
  margin-top: 5px;
}

@font-face {
  font-family: Garamond-italic;
  src: url( 'Garamond-italic.otf');
  font-weight: 300;
  font-style: italic; );
}
@font-face {
  font-family: Garamond;
  font-weight: 300;
  src: url( 'Garamond.otf' );
}
#text-select{
  position:relative;
}
#yearTag0, #yearTag1, #yearTag2{
  font: 25px sans-serif;
  text-align: center;
  z-index: 100;
}

.advisor-legend {
  overflow: auto;
  height: 360px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #dddddd;
}

.legend rect {
  opacity: 0;
}
.legend-items text {
  fill: #555;
}

.info {
  text-align: left;
  left: 50px;
  position: relative;
  top: -450px;
}

.bubble{
  width: 100%;
}

.col-xs-3{
  padding-right: 0px;
  padding-left: 0px;
}

.full-width {
  /*width: 940px !important;*/
  width: 940px;
}

.contentWrapper {
  position: absolute;
}

.graticule {
  fill: none;
  display: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: rgba(170,170,170,0.7);
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.columns {
  transition: all 0.9s ease-in-out;
}

#categories {
  position: relative !important;
  /*background-color: #fff;*/
}

#map {
  /*width:1200px;*/
  width:940px;
  height:390px;
  position: absolute;
  left:0px;
  top:0px;
}

.point {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.point:hover {
  width: 10;
}

.invisible {
  display: none;
}

.heading {
  font-weight: 300;
}

.category-box {
  font-size: 0.85em;
  width: 16px;
  height: 16px;
  background-color: #eee;
  margin: 3px 3px 3px 3px;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

#info-box{
  padding-top: 0.83em;
}
#info-name {
  width: 16px;
  height: 16px;
  background-color: #eee;
  border-radius: 12px;
}

.selected {
  border-left-width: 16px !important;
  background-color: #bedded;
}

.text-inlay {
  position: absolute;
  text-transform: uppercase;
  left: 40px;
}

.leaflet-bottom {
  display: none;
}

#meta-viz {
  font-weight: 300;
  margin: 7px 0px;
}
.info-inner {
  border: 3px #efefef solid;
  border-right-width: 0px !important;
  border-left-width: 0px !important;
  padding-top: 10px;
  height: 260px;
}

#info {
  margin: 10px 0 10px 0;
}

/*.name {
  position: absolute;
  left: 40px;
  font-weight: 300;
  font-size: 1.8em;
}*/
.degree {
  color: #555;
  margin: 6px 0 0 0;
}
.notes {
  font-style: italic;
}

img{
  width: 140px;
  border-radius: 70px;
  display: block;
  margin: 0 auto;
}

a{
  color: #7a98ab;
}

.advisor-info{
  /*height: 100px;*/
/*  border-style: solid;
  border-width: 0.5px;
  border-color: #dddddd;
  border-radius: 3px;*/
  text-align: center;
}

.advisor-title{
  font-style: italic;
  font-size: 12px;
}

.advisor-field{
  color: #666;
  font-size: 12px;
}

.advisor-thumb{
  margin-bottom: 10px;
  margin-top: 15px;
}

.card {
  font-family: 'Helvetica-Neue', 'Helvetica', sans-serif;
  /*text-align: center;*/
  width: 100%;
/*  height: 100px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #dddddd;
  border-radius: 3px;*/
  margin: 20px 0;
}

.card .heading {   
  color:#7a3236;
  padding-top: 5px;
  padding-left: 10px;
}

.card .caption2 {
  font-size: 80%;
  padding-left: 10px;
}

p{margin: 0 0 0 0px;}

#searchbox {
  width: 100%;
  margin: 10px 0;
  height: 34px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding-left: 9px;
}
/* Bar graph */

.bar {
  /*fill: steelblue;*/
  opacity: 1.0;
  transition: all 0.3s ease-in-out;
}

.bar:hover {
  opacity: 0.77;
  transition: all 0.3s ease-in-out;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


#alumni-info {
  display: none; /* default */
  margin: 0px 0 10px 0;
  padding-top: 5px;
  border-top: 3px #efefef solid;
}

#profile_img {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.fi-x {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
  width: 10px;
  font-size: 1.5em;
  color: #666;
}

.fi-magnifying-glass {
  margin-left: 7px;
  width: 15px;
  height: 15px;
  font-size: 1.3em;
  color: #666;
}

.button-border {
  border: 1px solid #999;
  border-radius: 2px;
  background-color:#FFF;
}

.alum-href {
  padding: 3px;
  margin: 2px 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.alum-href:hover {
  background-color: #efefef;
  transition: all 0.3s ease-in-out;
}

.ui-helper-hidden-accessible {
  display: none;
}
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(233, 240, 244, 1);
  width: 300px !important;
  padding: 4px !important;
  max-height: 300px !important;
  -webkit-box-shadow: 0px 22px 78px -38px rgba(34,34,34,1);
  -moz-box-shadow: 0px 22px 78px -38px rgba(34,34,34,1);
  box-shadow: 0px 22px 78px -38px rgba(34,34,34,1);
  border: 1px #bbd0dd solid;
  border-radius: 3px;
}
.ui-menu-item {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  margin: 4px 0 0 0;
  padding: 5px;
}
.ui-state-focus {
  color: #fff !important;
  background-color: #7a98ab !important;
  border: none !important;
  padding: 3px !important;
}