@charset "UTF-8";
/* CSS Document */

@font-face {  
  font-family: Gotham;  
  font-weight: 300;
  src: url( '../font/Gotham-Light.otf' );  
}

@font-face {  
  font-family: Gotham;  
  font-weight: 400;
  src: url( '../font/Gotham-Book.otf' );  
}

@font-face {  
  font-family: Gotham;
  font-weight: 600;  
  src: url( '../font/Gotham-Bold.otf' );  
}

/*Reset CSS for coherence across multiple browsers*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
* CSS FOR THE PAGE STARTS HERE
* FOR ALL THE MEASUREMENTS I HAVE USED %, PLEASE REFER TO HOW TO USE % BEFORE MAKING CHANGES TO THE MEASUREMENTS
* IFA CONTENT PAGE CSS
*/

/*Container for all content in the page*/
.mainWrapper {
	width: 100%;
	height: 100%;
	position:relative;
}

.mainWrapper:before,
.mainWrapper:after {
  content: "";
  display: table;
}
.mainWrapper:after {
  clear: both;
}
.mainWrapper {
  *zoom: 1;
}

/* NEW CSS */
.menuContainer {
    display: block;
    float: left;
    width:242px;
    height: 398px;
    top: 0px;
}

@media only screen and (max-width: 640px){
    .menuContainer {
        width: 70% !important;
        height:100% !important;
    }
    .menuButton {
        /*display: block !important;*/
        float: none !important;
        width: 85% !important;
		height: 40px !important;
        vertical-align: center !important;
		
    }
	
	#button1, #button2, #button3, #button4, #button5, #button6, #button7, #button8, #button9, #button10 {
    background: rgb(122,152,171) /* this is the FALLBACK for old versions of IE: 6,7,8 */ !important;
    background: rgba(122,152,171,0.75) !important;
    
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /* this is needed for transparency in old versions of IE: 6,7,8 */
    filter: alpha(opacity=5)  !important;
}

    .menuText {
        font-size: 1rem !important;
    }

    .text {
        display: none !important;
        transition: display 1s ease-out;
    }

    .backdrop {
        opacity: 0.5 !important;
    }

    #maximage {
        display: none !important;
    }
    body {
        background: url('../images/frontpage-mobile.jpg') !important;
        background-attachment: fixed !important;
    }
	

}

.menuButton {
    position:relative;
    width: 120px;
    height: 77px;
    float:left;
    margin: 0 1px 1px 0;
    text-decoration:none;
    color: #fff;
    font-family: Gotham, Helvetica, sans-serif;
    text-align:center;
    display:table;

    transition: background-color 0.1s ease-in-out;
}

.menuButton:hover {
    background-color: rgba(0,0,0,0) !important;
    transition: background-color 0.1s ease-in-out;
    -webkit-transition: background-color 0.1s ease-in-out;
}

#button1, #button10 {
    background: rgb(122,152,171); /* this is the FALLBACK for old versions of IE: 6,7,8 */
    background: rgba(122,152,171,0.75);
    
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /* this is needed for transparency in old versions of IE: 6,7,8 */
    filter: alpha(opacity=75);  
}

#button2, #button3, #button8, #button9 {

    background: rgb(176,220,247); /* this is the FALLBACK for old versions of IE: 6,7,8 */
    background: rgba(176,220,247,0.75);
    
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /* this is needed for transparency in old versions of IE: 6,7,8 */
    filter: alpha(opacity=75);  
}

#button4, #button5 {
    background: rgb(247,215,176); /* this is the FALLBACK for old versions of IE: 6,7,8 */
    background: rgba(247,215,176,0.75);
    
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /* this is needed for transparency in old versions of IE: 6,7,8 */
    filter: alpha(opacity=75);  
}


#button6, #button7 {
    background: rgb(236,237,231); /* this is the FALLBACK for old versions of IE: 6,7,8 */
    background: rgba(236,237,231,0.75);
    
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=72)"; /* this is needed for transparency in old versions of IE: 6,7,8 */
    filter: alpha(opacity=75);  
    
}


.menuContainer .menuText {
    position:relative;
    vertical-align:middle;
    display: table-cell;
    font-size: 0.77em;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #333;
    font-weight:400;
}
/*END NEW CSS*/

/* Main menu */


.IFALogoContainer {
    position:relative;
    /**top: 10px;**/
    float:left;
    margin:5px 5px;
}

.NYULogoContainer {
	margin-left:40px;
	}
	
/*Setting up the div in the apporpriate place for the text and the required CSS*/
.text {
    position:relative;
    left:0px;
    bottom:0px;
	top:400px;
    margin:45px;  
    text-align:left;
	z-index:1; /* Show above .gradient */
    text-shadow: 3px 2px 7px #000;
	font-weight:400;
    max-width: 800px;
}


.text .heading {
    font-family: Gotham, 'helvetica', sans-serif;
    font-size: 60px;
    color: #fff;
    margin-bottom: 20px;
}

.text .quote {
    font-family: Gotham, 'helvetica', sans-serif;
    font-size: 1.8em;
    color: #fff;
    margin-bottom: 20px;
	font-weight:200;
	text-align:left;
}

.text .smallerquote {
    font-family: Gotham, 'helvetica', sans-serif;
    font-size: 25px;
	line-height: 1.33em;
    color: #fff;
    margin-bottom: 20px;
	font-weight:900;
	text-align:left;
}

.text .content {
    font-family: Gotham, 'helvetica', sans-serif;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.33em;
    font-weight: 200;
    margin-bottom: 25px;
    margin-left: 25px;
}

.text .moreContent {
    font-family: Gotham, 'helvetica', sans-serif;
    color: #fff;
    margin-top: 25px;
    margin-left: 25px;
}

.text a {
    text-decoration:underline;
	color: #fff
}

.text a:hover {
    text-decoration:underline;
	color: #83c9ef
}

/*
 * 
 * CSS FOR MAKING THE PAGE RESPONSIVE PARTIALLY
 *
 */
img, video, canvas {
  max-width: 100%;
}